<!-- Top navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">myCMSalpha</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">$SET_LINK_FOR_LOOP</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<?php 	if(isset($_SESSION['UserData']['Username'])):  ?>
		<li><a href="#"><span class="glyphicon glyphicon-user"></span> $SET_USERNAME </a></li>
		<li><a href="logout.php"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
<?php 	endif; ?>
    </ul>
  </div>
</nav>
<!-- end nav -->