<!DOCTYPE html>
<html>
	<head>
		<title>Joseph Collen Turner</title>
	<!-- DONT CASHE for offline debuging -->
	
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
		
		<!-- end CASHE debug -->
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Normalized minified CSS -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Google Fonts -->
		<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
		<!-- Custom CSS -->
		<link href="<?php echo $serv_theme_dir ?>css/style.css" rel="stylesheet" type="text/css">
	</head>

<body>